*.pyc
**.idea/
.DS_Store
*.pickle
*.pkl
data/yun_solution_drive_cycle/v1.csv
TimeSeriesPrediction/Sep-17/4.0.csv
TimeSeriesPrediction/Sep-17/34.0.csv
TimeSeriesPrediction/Sep-17/33.0.csv
TimeSeriesPrediction/Sep-17/32.0.csv
TimeSeriesPrediction/Sep-17/31.0.csv
TimeSeriesPrediction/Sep-17/30.0.csv
TimeSeriesPrediction/Sep-17/29.0.csv
TimeSeriesPrediction/Sep-17/28.0.csv
TimeSeriesPrediction/Sep-17/27.0.csv
TimeSeriesPrediction/Sep-17/26.0.csv
TimeSeriesPrediction/Sep-17/24.0.csv
TimeSeriesPrediction/Sep-17/23.0.csv
TimeSeriesPrediction/Sep-17/21.0.csv
TimeSeriesPrediction/Sep-17/19.0.csv
TimeSeriesPrediction/Sep-17/18.0.csv
TimeSeriesPrediction/Sep-17/13.0.csv
TimeSeriesPrediction/Sep-17/12.0.csv
TimeSeriesPrediction/Oct-17/9.0.csv
TimeSeriesPrediction/Oct-17/4.0.csv
TimeSeriesPrediction/Oct-17/3.0.csv
TimeSeriesPrediction/Oct-17/26.0.csv
TimeSeriesPrediction/Oct-17/25.0.csv
TimeSeriesPrediction/Oct-17/24.0.csv
TimeSeriesPrediction/Oct-17/23.0.csv
TimeSeriesPrediction/Oct-17/22.0.csv
TimeSeriesPrediction/Oct-17/21.0.csv
TimeSeriesPrediction/Oct-17/20.0.csv
TimeSeriesPrediction/Oct-17/19.0.csv
TimeSeriesPrediction/Oct-17/18.0.csv
TimeSeriesPrediction/Oct-17/17.0.csv
TimeSeriesPrediction/Oct-17/13.0.csv
TimeSeriesPrediction/Oct-17/12.0.csv
TimeSeriesPrediction/Oct-17/10.0.csv
TimeSeriesPrediction/Nov-17/9.0-1.csv
TimeSeriesPrediction/Nov-17/9.0-0.csv
TimeSeriesPrediction/Nov-17/3.0-0.csv
TimeSeriesPrediction/Nov-17/18.0-0.csv
TimeSeriesPrediction/Nov-17/17.0-0.csv
TimeSeriesPrediction/Nov-17/16.0-1.csv
TimeSeriesPrediction/Nov-17/16.0-0.csv
TimeSeriesPrediction/Nov-17/13.0-0.csv
TimeSeriesPrediction/Nov-17/12.0-1.csv
TimeSeriesPrediction/Nov-17/12.0-0.csv
TimeSeriesPrediction/Nov-17/10.0-1.csv
TimeSeriesPrediction/Nov-17/10.0-0.csv
TimeSeriesPrediction/Jan-18/9.0.csv
TimeSeriesPrediction/Jan-18/8.0.csv
TimeSeriesPrediction/Jan-18/7.0.csv
TimeSeriesPrediction/Jan-18/6.0.csv
TimeSeriesPrediction/Jan-18/5.0.csv
TimeSeriesPrediction/Jan-18/4.0.csv
TimeSeriesPrediction/Jan-18/3.0.csv
TimeSeriesPrediction/Jan-18/2.0.csv
TimeSeriesPrediction/Jan-18/12.0.csv
TimeSeriesPrediction/Jan-18/11.0.csv
TimeSeriesPrediction/Jan-18/10.0.csv
TimeSeriesPrediction/Jan-18/1.0.csv
TimeSeriesPrediction/Jan-18/0.0.csv
TimeSeriesPrediction/Dec-17/9.0-1.csv
TimeSeriesPrediction/Dec-17/7.0-1.csv
TimeSeriesPrediction/Dec-17/5.0-1.csv
TimeSeriesPrediction/Dec-17/16.0-1.csv
TimeSeriesPrediction/Dec-17/14.0-1.csv
TimeSeriesPrediction/Dec-17/13.0-0.csv
TimeSeriesPrediction/Dec-17/12.0-1.csv
TimeSeriesPrediction/Dec-17/10.0-1.csv
TimeSeriesPrediction/Dec-17/0.0-1.csv
TimeSeriesPrediction/combined/9_oct_nov_nov_dec.csv
TimeSeriesPrediction/combined/7_dec.csv
TimeSeriesPrediction/combined/5_dec.csv
TimeSeriesPrediction/combined/4_sep_oct.csv
TimeSeriesPrediction/combined/3_sep_sep_sep_sep_sep_oct_nov.csv
TimeSeriesPrediction/combined/34_sep.csv
TimeSeriesPrediction/combined/33_sep.csv
TimeSeriesPrediction/combined/32_sep.csv
TimeSeriesPrediction/combined/31_sep.csv
TimeSeriesPrediction/combined/30_sep.csv
TimeSeriesPrediction/combined/29_sep.csv
TimeSeriesPrediction/combined/28_sep.csv
TimeSeriesPrediction/combined/27_sep.csv
TimeSeriesPrediction/combined/26_sep_oct.csv
TimeSeriesPrediction/combined/25_oct.csv
TimeSeriesPrediction/combined/24_sep_oct.csv
TimeSeriesPrediction/combined/23_sep_oct.csv
TimeSeriesPrediction/combined/22_oct.csv
TimeSeriesPrediction/combined/21_sep_oct.csv
TimeSeriesPrediction/combined/20_oct.csv
TimeSeriesPrediction/combined/19_sep_oct.csv
TimeSeriesPrediction/combined/18_sep_oct_nov.csv
TimeSeriesPrediction/combined/17_oct_nov.csv
TimeSeriesPrediction/combined/16_nov_nov_dec.csv
TimeSeriesPrediction/combined/13_sep_oct_nov_dec.csv
TimeSeriesPrediction/combined/12_sep_oct_nov_nov_dec.csv
TimeSeriesPrediction/combined/10_oct_nov_nov_dec.csv
TimeSeriesPrediction/combined/0_dec.csv
TimeSeriesPrediction/ayo.csv
caltrans_L2_Epoch1900.csv
DC_generator/device12_oct_classifed_Day11to20.csv
DC_generator/device12_oct_classified.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day11to12.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day12to13.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day13to14.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day14to15.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day15to16.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day16to17.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day17to18.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day18to19.csv
DC_generator/device12_oct_classified_Oct11to20/device12_oct_classifed_Day19to20.csv
DC_generator/generated_data.csv
DC_generator/october_21_to_31.csv
Device12_formatted.csv
device12_oct_7_to_10_classified_updated.csv
Device13_formatted.csv
Device_12_ecm_resampled_1D_with_start_end.csv
generated_data.csv
L2_Epoch1900.csv
L2_Epoch940.csv
resampled_data.csv
src/device12_oct_7_to_10_classified.csv
test_3d_histo.csv
WGANGP_Epoch470.csv
